body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url("../images/doctor.jpg");
}

form {
    max-width: 400px;
    margin: 250px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"],
input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Make sure padding and border don't increase the width */
}

input[type="submit"] {
    background-color: #328da6; /* Green */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a2341a;
}

input[type="number"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50; /* Green */
}

input[type="number"]::placeholder,
input[type="text"]::placeholder {
    color: #aaa;
}
